{
  "files": ["**/*.{js,jsx,mjs,cjs,ts,tsx}"],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "off"
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}